.attachmentPhoto {
  height: auto;
  max-width: 100%;
}

.attachmentOther {
  border: 1px solid grey;
}

pre {
  white-space: pre-wrap;
}

.gap {
  display: inline-block;
  width: 0.5cm;
}

p {
  white-space: pre-wrap;
}

.forwardedContainer {
  padding-left: 10px;
}

.dialogContainer {
  width: 700px;
  word-wrap: break-word;
  margin: auto;
}

.convContainer {
  border: 1px dotted gray;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 30px;
  padding: 2px;
}

.groupCaption {
  background-color: #797eff;
  padding: 10px;
}

.dialogBody {
  font-family: Verdana, Sans-Serif;
  font-size: 14.4px;
}

.messageContainer {
  margin: 1px;
  padding: 2px;
}

.messageTo {
  border: 1px dashed black;
  background-color: #fff;
}

.messageFrom {
  border: 1px solid black;
  background-color: #ddd;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 1px 5px 1px 5px; /* top right bottom left */
  margin: 0px;
}

table {
   width: 100%;
}

th {
  text-align: left;
  background-color: #eee;
}

.captionColumn {
  width: 200px;
}

.statsColumn {
  width: 170px;
}

.datesColumn {
  width: 200px;
}

.usersColumn {
  width: auto;
}

hr {
  width: 50%;
  color: gray;
}

.profileAvatar {
  height: 50px;
  width: auto;
}
